<p>Looks like you have stumbled across the rewrite, it is open source if you'd like to help</p>
<p>Head on over to https://gitlab.com/ninjacentral/ng2-Ninjacentral</p>

<!--<div>
NZBs upload in 
<select>
  <option value="1">Today</option>
  <option value="7">Last 7 days</option>
  <option value="30">Last 30 days</option>
  <option value="90">Last 90 days</option>
</select> : {{nzbCount}}
</div>-->
<div>
Active users in 
<select [(ngModel)]="days" (change)="getNames()">
  <option value="1">Today</option>
  <option value="7">Last 7 days</option>
  <option value="30">Last 30 days</option>
  <option value="90">Last 90 days</option>
</select> : {{numberOfUsers}}
<ul>
  <li *ngFor="let user of users">{{user.Username}}</li>
</ul>
</div>
<br/>
<div>
  Your user information: <br>
  <ul>
    <li>Username: </li>
    <li>Avatar: </li>
  </ul>
</div>
<br/>
<div>
  Roadmap: <br>
  <ul>
    <li>Basic API: ⬤⬤⬤◔○○○○○○○○○</li>
    <li>New Login Page</li>
    <li>New Shoutbox or Move to slack</li>
    <li>New Browse page</li>
  </ul>
</div>
<!--<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>-->